//-RENAME:cmpName.jsx
import React from 'react';
import './{{{CMP_NAME}}}.css';

const {{{CMP_NAME}}} = props => {
    const {
        children,
        className,
        style,
        onClick,
        ...otherProps
    } = props;

    return (
        <div
            {...otherProps}
            className={className}
            onClick={onClick}
            style={style}
        >
            {children}
        </div>
    );
}

export default {{{CMP_NAME}}};